<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <title>Landing Page - Start Bootstrap Theme</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body >
<div align="center">Say something else</div>
<div id="mainContainer" style="height:100%; width:100%;"> <p>writing something</p>
</div>


<div style="height:100%; width:100%;" id="fullScreenChat"> </div>


    <script src="https://cdn.smooch.io/smooch.min.js"></script>

    <script>
    /* -- Initialise Smooch -- */
      Smooch.init({
      	appToken: '{{appToken}}',
        embedded: true,
      	emailCaptureEnabled: true,
      	});

    </script>
    <script>

      var mainContainer = document.getElementById('mainContainer');
      var fullScreenChat = document.getElementById("fullScreenChat");

        /* -- Hiding the main container -- */
        mainContainer.style.display = 'none'

        /* -- Displaying the main container -- */
        fullScreenChat.style.display = 'block'
        Smooch.render(fullScreenChat);

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      //modify css classes
      //hide top header
      $("#sk-header").hide();
      //change bubble color
      $('.sk-row').removeClass('sk-row').addClass('sk-row');
      $('.sk-left-row').removeClass('sk-left-row').addClass('sk-left-row');
      $('.sk-msg-wrapper').removeClass('sk-msg-wrapper').addClass('sk-msg-wrapper');
      $('.sk-msg').removeClass('sk-msg').addClass('sk-msg');

      $(".sk-row").css( "background-color", "yellow" );
      $(".sk-left-row").css( "background-color", "yellow" );
      $(".sk-msg-wrapper").css( "background-color", "yellow" );
      $(".sk-msg").css( "background-color", "yellow" );
    </script>


</body>

</html>
